<div class="store">
  <div class="customerInfoSection">
    <form #customerInfo="ngForm">
      <div class="formAddress">
        <div>
          <label for="firstName">First Name</label>
          <input [(ngModel)]="firstName" pattern="^[a-zA-Z']+$" #first="ngModel"  type="text" id="firstName" name="firstName" required>
        </div>
        <div>
          <label for="lastName">Last Name</label>
          <input [(ngModel)]="lastName" pattern="^[a-zA-Z']+$" #last="ngModel"  type="text" id="lastName" name="lastName" required>
        </div>
        <div>
          <label for="streetAddress">Street Address</label>
          <input [(ngModel)]="streetAddress" #street="ngModel"  type="text" id="streetAddress" name="streetAddress" required>
        </div>
        <div>
          <button [disabled]="!customerInfo.valid" type="submit" (click)="onCustomerInfoSubmit()">Submit Address</button>
        </div>
      </div>
    </form>
    <div>
      <p *ngIf="first?.errors?.['required']">First Name is required</p>
      <p *ngIf="first?.errors?.['pattern']">First Name must contain only letters and apostrophes</p>
      <p *ngIf="last?.errors?.['required']">Last Name is required</p>
      <p *ngIf="last?.errors?.['pattern']">Last Name must contain only letters and apostrophes</p>
      <p *ngIf="street?.errors?.['required']">Street Address is required</p>
    </div>
  </div>

  <form #orderItems="ngForm" (submit)="addItems(selectedProduct, quantity); $event.preventDefault()">
    <div class="formAddItems">
      <div>
        <button [disabled]="!orderItems.valid" type="submit">Add Selected Item</button>
        <select [(ngModel)]="selectedProduct" name="selectedProduct">
          <option *ngFor="let product of products" [value]="product.item">{{ product.item }}</option>
        </select>
      </div>
      <div>
        <label for="quantity">Quantity</label>
        <input [(ngModel)]="quantity" type="number" id="quantity" name="quantity" required>
      </div>
    </div>
  </form>
  
  <div>
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Qty</th>
          <th>Unit Price</th>
          <th>Amount</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of items;let i = index">
        <tr>
          <td>{{ item.item }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.amount }}</td>
          <td><input type='button' value='delete' (click)=removeItem(item)></td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>SubTotal</td>
          <td></td>
          <td></td>
          <td class="tableUnderline">{{ displaySubTotal }}</td>
          <td></td>
        </tr>
        <tr>
          <td>Taxes 7%</td>
          <td></td>
          <td></td>
          <td class="tableUnderline">{{ displayTax }}</td>
          <td></td>
        </tr>
        <tr>
          <td>Total</td>
          <td></td>
          <td></td>
          <td class="tableUnderline">{{ displayTotal }}</td>
          <td></td>
      </tbody>
    </table>
  </div>
  <div [hidden]="!this.validCustomerInfo">
    <p>Order for {{ firstName }} {{ lastName }} at {{ streetAddress }}</p>
  </div>
  
</div>