<div class="store">
  <form>
    <div class="formAddress">
      <div>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" required>
      </div>
      <div>
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" required>
      </div>
      <div>
        <label for="streetAddress">Street Address</label>
        <input type="text" id="streetAddress" name="streetAddress" required>
      </div>
      <div>
        <button type="submit">Submit Address</button>
      </div>
    </div>
  </form>
  
  <form (submit)="addItems(selectedProduct, quantity); $event.preventDefault()">
    <div class="formAddItems">
      <div>
        <button type="submit">Add Selected Item</button>
        <select [(ngModel)]="selectedProduct" name="selectedProduct">
          <option *ngFor="let product of products" [value]="product.item">{{ product.item }}</option>
        </select>
      </div>
      <div>
        <label for="quantity">Quantity</label>
        <input [(ngModel)]="quantity" type="number" id="quantity" name="quantity" required>
      </div>
    </div>
  </form>
  
  <div>
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Qty</th>
          <th>Unit Price</th>
          <th>Amount</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of items;let i = index">
        <tr>
          <td>{{ item.item }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.amount }}</td>
          <td><input type='button' value='delete' (click)=removeItem(item)></td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>SubTotal</td>
          <td></td>
          <td></td>
          <td class="tableUnderline">{{ displaySubTotal }}</td>
          <td></td>
        </tr>
        <tr>
          <td>Taxes 7%</td>
          <td></td>
          <td></td>
          <td class="tableUnderline">{{ displayTax }}</td>
          <td></td>
        </tr>
        <tr>
          <td>Total</td>
          <td></td>
          <td></td>
          <td class="tableUnderline">{{ displayTotal }}</td>
          <td></td>
      </tbody>
    </table>
  </div>
  <div>
    <p>Order for Bob Jones at 92 Seymore Street</p>
  </div>
  
</div>